#project {
  display: flex;
  gap: 2rem;
  border-bottom: 1px solid orange;
  margin: 0 3rem;
  padding: 4rem 0;

  img {
    width: 50%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: top;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 2px;
  }

  p {
    padding: 1rem 0 2rem;
    max-width: 75%;
    font-size: 1rem;
    font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  }
}

#project:last-child {
  border-bottom: none;
}

@media (width < 800px) {
  #project {
    flex-direction: column;

    img {
      width: 100%;
    }

    p {
      max-width: 100%;
    }
  }
}

@media (width < 800px) {
  #project {
    margin: 0 1rem;
    padding: 2rem 0;
  }
}
